body {
    margin: 0;
    box-sizing: border-box;
}

.header {
    margin: 40px 140px;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.add {
    margin: 20px 40px;
    padding: 15px 20px;
    background-color: rgb(0, 60, 255);
    color: white;
    text-decoration: none;
    border: 1px solid rgb(252, 252, 252);
    border-radius: 20px;
    font-weight: bold;
}


.add:hover {
    background-color: white;
    color: rgb(0, 60, 255);
    border: 1px solid rgb(0, 60, 255);
    transform: scale(1.03);
}
